<p>Give a new Title to this report</p>

<form action="/all_reports/{{report._id}}" method="post">
  <input type="text" name="title" value="{{report.title}}">
  <button type="submit">Submit</button>
</form>