<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EvilTech Recruiting Solutions</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" </head> <body>
  <!-- Navbar Component -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">👹</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if user}}
        <li class="nav-item"></li>
        <a class="nav-link" href="/auth/logout">Log out</a>
        <li class="nav-item">
          <a class="nav-link " href="/all_reports">All Reports</a>
          <li />

          {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/linkedin">Log in with LinkedIn</a>
        </li>
        {{/if}}
    </div>
  </nav>

  {{{ body }}}
  <!-- Footer -->
  <footer>2019 EvilTech Recruiting 👹</footer>
  </body>


</html>